# Angular / UI specific
/ui/dist/
/ui/out-tsc/
/ui/coverage/
/ui/.angular/
/ui/node_modules/
/ui/yarn.lock
/ui/.angular-cli.json
/ui/.ng/

# Environment files
/.env

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
